@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Great+Vibes&family=Poly:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Font para textos */
/* font-family: 'Poppins'; */

@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Great+Vibes&family=Poly:ital@0;1&display=swap');
/* Font p/ links */
/* font-family: 'Poly'; */

@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Great+Vibes&display=swap');
/* Fonte cursiva */
/* font-family: 'Great Vibes'; */

@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');

/* font-family: "Jacques Francois", serif; */
/* bg = background */

:root {
    --font_text: Poppins;
    --font_links: Poly;
    --font_cursive: Great Vibes;
    --font_jacques: Jacques Francois;
    --body_color: #FEFBF3;
    --color_font: #985C41;
    --light_brown: #ccaea0ee;
    --light-green: #9BE79E;
    --dark-green: #0B3222;
    --red_back: #c4001af5;
    --frog_color: #545A2A;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #FEFBF3;
    height: 100vh;
    width: 100%;
}

header {
    margin: 20px 0 40px 0;
    text-align: center;
}

.site {
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
}

h2 {
    text-align: center;
    font-size: 16pt;
    color: var(--color_font);
    text-transform: uppercase;
    font-family: var(--font_links);
}

h1 {
    text-align: center;
    font-size: 21pt;
    color: var(--color_font);
    text-transform: capitalize;
    font-family: var(--font_cursive);
    letter-spacing: 2px;
}

.space {
    padding: 30px;
}

/* estrutura de button para submit */
.button_form {
    button {
        border: none;
        border-radius: 5px;
        width: 250px;
        height: 50px;
        background: var(--dark-green);
        color: white;
        font-family: var(--font_links);
        font-weight: bolder;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}

/* estrutura para voltar */
.button_voltar {
    width: 250px;
    height: 50px;
    background-color: var(--red_back);
    border-radius: 5px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;

    a {
        font-weight: bolder;
        letter-spacing: 2px;
        border: none;
        color: white;
        text-transform: uppercase;
        font-family: var(--font_links);

        i {
            margin: 0 5px 0 0;
        }
    }
}

.inicial {
    .site {
        position: relative;

        .container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: center;

            div {
                width: 150px;
                height: 50px;
                background-color: #F7EDE3;
                border-radius: 5px;
                align-items: center;
                text-align: center;

                a {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    border-radius: 5px;
                    /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
                    box-shadow: rgba(180, 117, 23, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

                    button {
                        background-color: transparent;
                        border: none;
                        color: var(--color_font);
                        font-family: var(--font_text);
                        font-size: medium;
                        font-weight: 555;
                        text-transform: capitalize;

                        i {
                            margin: 0 0 0 5px;
                        }
                    }
                }
            }
        }

        .bg_img {
            position: fixed;
            bottom: 0;
            left: 0;
            z-index: -1;
            display: flex;
            justify-content: center;
            align-items: end;

            img {
                width: 100%;
                max-height: 300px;
                object-fit: cover;
                filter: opacity(50%);
                filter: contrast(50%);
                filter: saturate(70%);
            }
        }

        .socials {
            text-align: center;

            h3 {
                text-transform: capitalize;
                font-family: var(--font_links);
                color: var(--color_font);
                margin: 0 0 5px 0;
                font-size: 14pt;
                font-weight: bold;
            }

            div {
                a {
                    i {
                        margin: 10px 40px 0 0;
                        color: var(--light_brown);
                        font-size: xx-large;
                        filter: drop-shadow(5px 5px 3px rgba(51, 50, 50, 0.385));
                    }

                    img {
                        filter: drop-shadow(5px 5px 3px rgba(51, 50, 50, 0.385));
                    }
                }
            }
        }
    }
}

.box_login {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 350px;

    .container {
        label {
            img {
                align-items: center;
                width: 16px;
                margin: 0 2px 0 0;
            }
        }

        input {
            border: none;
            background-color: transparent;
            font-size: 14pt;
            color: var(--color_font);
            text-decoration: none;
        }

        input:focus {
            outline: none;
        }

        input::placeholder {
            color: var(--color_font);
            opacity: 1;
        }

        hr {
            margin: 1px 0 40px 0;
            background: black;

        }

        hr:nth-child(4) {
            margin: 1px 0 10px 0;
        }

        button {
            border: none;
            background-color: transparent;
            font-size: large;

            i {
                color: var(--color_font);
            }
        }
    }

    .lembrar {
        display: flex;
        justify-content: end;
        flex-direction: column;

        a {
            align-items: start;
            text-align: start;
            color: var(--color_font);
            margin: 1px 0 15px 0;
        }

        .checkbox {
            display: flex;
            align-items: center;
            text-align: center;

            input {
                width: 30px;
                height: 20px;
            }

            p {
                color: var(--color_font);
            }
        }
    }

    .button_voltar {
        margin-top: 20px;
    }
}

.criarConta {
    .site {
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: 30px 0 10px 0;

            .box_conta {
                margin: 0 0 20px 0;

                h5 {
                    margin: 0 0 5px 0;
                    font-family: var(--font_links);
                    text-transform: capitalize;
                    color: var(--dark-green);
                    font-weight: bold;
                    letter-spacing: 2px;
                }

                input {
                    border: none;
                    background-color: transparent;
                    font-size: 14pt;
                    color: var(--color_font);
                    text-decoration: none;
                }

                input:focus {
                    outline: none;
                }

                input::placeholder {
                    color: var(--color_font);
                    opacity: 1;
                }

                button {
                    border: none;
                    background-color: transparent;
                    font-size: large;

                    i {
                        color: var(--color_font);
                    }
                }

                hr {
                    margin: 1px 0 4px 0;
                    background: black;
                }
            }

            .button_form {
                margin: 0 0 20px 0;
            }
        }
    }
}

/* body {
    background-image: url(../img/background_menu.png);
    background-size: cover;
    background-position: center;

} */

.menu {

    .site {
        h3 {
            text-align: center;
            font-size: 21pt;
            color: var(--color_font);
            text-transform: capitalize;
            font-family: var(--font_cursive);
            letter-spacing: 2px;
            margin: 0 0 10px 0;
        }

        p {
            margin-top: 15px;
            text-align: center;
            font-family: var(--font_links);
            font-family: var(--font_text);
        }

        .container {
            margin-top: 15px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            div {
                margin: 10px;

                a {
                    button {
                        width: 250px;
                        height: 50px;
                        font-weight: bolder;
                        border-radius: 20px;
                        letter-spacing: 2px;
                        border: none;
                        color: white;
                        text-transform: uppercase;
                        font-family: var(--font_links);
                        background-color: var(--color_font);
                    }
                }
            }

            .button_voltar {
                a {
                    button {
                        background-color: var(--red_back);

                        i {
                            margin: 0 0 0 5px;
                        }
                    }
                }
            }
        }
    }
}

.esqueci_senha {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

    .site {

        width: 90%;

        .container {
            height: 190px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            text-align: center;
            align-self: flex-start;
            background-color: #ffffff;
            border-radius: 20px;
            margin: 20px 0 20px;
            border: var(--red_back);
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

            h3 {
                font-family: var(--font_text);
                text-transform: capitalize;
                color: var(--frog_color);
                font-weight: 500;
                margin: 5px 0 5px 0;
            }

            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                label {
                    font-family: var(--font_jacques);
                }

                input#email {
                    width: 300px;
                    height: 20px;
                    margin: 10px 0 0px 0;
                    border: none;
                }

                input:focus {
                    outline: none;
                    background-color: transparent;
                }

                hr {
                    background: black;
                    width: 100%;
                }

                input.btn-link {
                    width: 150px;
                    height: 40px;
                    margin-top: 30px;
                    border-radius: 20px;
                    font-family: var(--font_links);
                    font-weight: 599;
                    font-size: 12pt;
                    border-color: #985C41;
                    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
                }
            }

            .button_voltar {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
        }
    }
}

.produto {
    display: flex;
    flex-direction: column;
    align-items: center;

    .site {
        h2 {
            margin: 10px 0 10px 0;
        }

        img {
            width: 250px;
            border-radius: 10px;
        }

        p {
            margin-top: 10px;
            font-family: var(--font_links);
            font-size: 13pt;
        }

        .filtrar {
            align-items: center;
            text-align: center;

            input.escolher-valor {
                margin: 0 0 5px 0;
                width: 70%;
                height: 8px;
                border-radius: 5px;
                appearance: none;
                background: linear-gradient(to right, #1f6e22 0%, #ddd 0%);
                outline: none;
                transition: background 0.3s ease-in-out;

                &::-webkit-slider-thumb {
                    appearance: none;
                    height: 20px;
                    width: 20px;
                    background: #1f6e22;
                    border-radius: 50%;
                    cursor: pointer;
                    border: 1px solid #fff;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
                    margin-top: -6px;
                }

                &::-moz-range-thumb {
                    height: 20px;
                    width: 20px;
                    background: #1f6e22;
                    border-radius: 50%;
                    cursor: pointer;
                    border: none;
                }
            }

            p {
                margin: 5px 0 10px 0;
                font-family: var(--font_jacques);
                font-size: 12pt;

                .preco-atual {
                    font-family: var(--font_text);
                    color: var(--dark-green);
                    text-transform: capitalize;
                    font-weight: bolder;
                    font-size: 12pt;
                }
            }

            h3 {
                font-family: var(--font_jacques);
                text-transform: capitalize;
            }
        }

        .categoria {
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                font-family: var(--font_jacques);
                text-transform: capitalize;
                letter-spacing: 2px;
            }

            .box_categoria {
                margin: 10px 0 0 0;
                font-family: var(--font_jacques);
                box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
                border-radius: 10px;
                width: 200px;
                height: 30px;
            }
        }

        .button_voltar {
            display: flex;
            align-items: center;
            width: 100%;
            background-color: transparent;


            button {
                color: white;
                margin-top: 20px;
                width: 150px;
                height: 50px;
                border-color: white;
                border-radius: 20px;
                background-color: rgb(222, 62, 62);
                font-size: 10pt;
                box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
                font-family: var(--font_jacques);

                i {
                    margin: 0 0 0 5px;
                }
            }
        }
    }
}

.detalhe-produto {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        margin: 10px 0 10px 0;
    }

    img {
        width: 250px;
        border-radius: 10px;
    }

    p {
        margin-top: 10px;
        font-family: var(--font_links);
        font-size: 13pt;
        font-family: var(--font_jacques);
    }
}